# Variables homework

Advice for homework and life: try, play, experiment; don't Google until you get frustrated.

You can't break anything with Python, so, if you want to figure something out, try until you get it to work. You'll learn more and you'll remember it longer and more deeply.

---

In general, the homework question will consist of the question in a markdown cell, a code cell for you to play in, repeating as needed,  and a final markdown cell for your answer or explanation *that will be in italics*.

But do feel free to add or delete cells as you feel appropriate. The important thing is you get your point across!

---

### 1.

Make an integer: `theAnswer = 42`.
Now make another: `anotherNameForTheAnswer = 42`
(You don't have to use these exactly, but make sure you have two different names referring to the same exact value.)

In [2]:
theAnswer = 42

In [3]:
anotherNameForTheAnswer = 42

Get and note the ID numbers for both.

In [4]:
print(id(theAnswer), id(anotherNameForTheAnswer))

140547476037200 140547476037200

Assign each name to a completely different number and confirm that each name now refers to an object with a new ID.

In [2]:
theAnswer = 11
anotherNameForTheAnswer = 9

print(id(theAnswer), id(anotherNameForTheAnswer))

140550226451056 140550226450992

Do a `whos` to confirm that *no* names refer to the original value.

In [3]:
whos

Variable                  Type    Data/Info
-------------------------------------------
anotherNameForTheAnswer   int     9
theAnswer                 int     11

Finally, assign a new name to the original value, and get its ID.

In [5]:
OriginalValue = 42
id(OriginalValue)

140550226452048

*Look at this ID and compare it to the original ones. What happened? What does this tell you?*

It made a completely new ID. It didn't use the ID for 42 originally.

---

### 2.

Convert both possible Boolean values to strings and print them.

In [7]:
option1 = 1
option2 = 0

option1 = '1'
option2 = '0'

print(option1, option2)

1 0

Now convert some strings to Boolean until you figure out "the rule".

In [32]:
option3 = "False"
bool(option3)

print(bool(option1), bool(option2), bool(option3), bool(""))

True True True False

*What string(s) convert to True and False? In other words, what is the rule for str -> bool conversion?*

Only empty strings convert to False! Everything else converts to True, even 0 and the word "False"

---

### 3.

Make three variables:

* a Boolean equal to True
* an int (any int)
* a float

Try all combinations of adding two of the variables pairwise.

In [42]:
BooleanEqualToTrue = True
AnyInt = 4
AFloat = 11.4

In [43]:
print(BooleanEqualToTrue + AnyInt)
print(BooleanEqualToTrue + AFloat)
print(AnyInt + AFloat)

5
12.4
15.4

*What is the rule for adding numbers of different types?*

"True" converts to 1 (it makes it an integer). Everything else stays the number that it is (integer or float)

---

### 4.

Make an int (any int) and a string containing a number (e.g. num_str = '64'). Try

* adding them
* adding them converting the number to a string
* adding them converting the string to a number

In [49]:
AnInt = 9
AStr = "12"

In [53]:
print(AnInt + AStr) # doesn't work

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [54]:
print(str(AnInt) + AStr) # puts 12 right after 9!

912

In [55]:
print(AnInt + int(AStr)) # adds them like normal

21

Try converting a `str` that is a spelled out number (like 'forty two') to an int.

In [59]:
theNumber = "eleven"

print(int(theNumber))

ValueError: invalid literal for int() with base 10: 'eleven'

*Did that work?*

No :/

---

### 5.

Make a variable that is a 5 element tuple.

In [65]:
Birds = ("ü¶Ü", "ü¶â", "ü¶Ö", "üê¶", "üê£")

Extract the last 3 elements.

In [66]:
Birds[2:5]

('ü¶Ö', 'üê¶', 'üê£')

---

### 6.

Make two variables containing tuples (you can create one and re-use the one from #5). Add them using "+".

In [67]:
Primates = ("üêí", "ü¶ß", "ü¶ç", "üßç")

In [68]:
Birds + Primates

('ü¶Ü', 'ü¶â', 'ü¶Ö', 'üê¶', 'üê£', 'üêí', 'ü¶ß', 'ü¶ç', 'üßç')

Make two list variables and add them.

In [71]:
Squist = ["ü¶ë", 338, "üí¶", 0.10101]
Luid = ["Squid", 3.38, "Water", "1.01010"]

Squist + Luid

['ü¶ë', 338, 'üí¶', 0.10101, 'Squid', 3.38, 'Water', '1.01010']

Try adding one of your tuples to one of your lists.

In [72]:
Squist + Birds

TypeError: can only concatenate list (not "tuple") to list

*What happened? How does this compare to adding, say, a bool to a float?*

It doesn't work! When you add a bool to a float, it converts the bool to an integer and it works, but python can't add a tuple to a list

---

### 7.

Can you tell the type of a variable by looking at its value?

*If so, how? A couple examples are fine; no need for an exhaustive list.*

Yes!

False or True = bool

a whole number (like 0, 1, 3) = int

"In parentheses" (like "0", "False", 4.5") = str

with a decimal (like 9.0 or 0.002) = float

---

### 8.

Make a list variable in which one of the elements is itself a list (e.g. `myList = ['hi', [3, 5, 7, 11], False]`).

In [77]:
Okay = ['raccoon', [5, 6, 3, 2, 4], True]

Extract one element of the nested list - the list-within a list. Try it in two steps, by first extracting the nested list and assigning it to a new variable.

In [81]:
Okay[1]

[5, 6, 3, 2, 4]

In [85]:
OkayList = Okay[1]

OkayList[2]

3

Now see if you can do this in one step.

In [91]:
Okay[1][2]

3

---

### 9.

Make a `dict` variable with two elements, one of which is a list.

In [130]:
DogDict = {'they look like this': "üêï",
           'some breeds': ["dalmation", "collie", "spitz"]}

Extract a single element from the list-in-a-dict in one step.

In [132]:
DogDict['some breeds'][1]

'collie'

---

10.

Make a list variable. Consider that each element of the list is logically an *object* in and of itself. Confirm that one or two of these list elements has its own unique ID number.

In [114]:
AListIsAnObject = [1,2,3,4,5,6]

print(id(AListIsAnObject[0]), id(AListIsAnObject[5]))

140550226450736 140550226450896

If you extract an element from your list and assign it to a new variable, are the IDs the same, or is a new object created?

In [122]:
NewVariable = AListIsAnObject[2]

print(id(NewVariable), id(AListIsAnObject[2]))

140550226450800 140550226450800

*Are the IDs the same, or is a new object created when you assigned the list element to new variable?*

The IDs are the same because the different names are assigned to the same element

---

### 11.

Make a `str` variable containing the first 5 letters of the alphabet (e.g. `a2e = 'abcde'`). Check the ID of the second (index = 1) element (the 'b').

In [110]:
str1ng = 'abcde'

id(str1ng[1])

140550246396784

Now make a `str` variable containing the letter 'b'. Check its ID.

In [108]:
itHasD = 'b'

In [109]:
id(itHasD)

140550246396784

*What happened?*

They have the same ID because they are assigned to the same variable ("b")